/*Genel stil ayarları*/

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    color: #333;
}

.container {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    padding: 20px; 
}

/*Başlık stili*/

header {
    background-color: white;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

header .container {
    background-color: #6a0dad;
    color: white;
    padding: 20px;
    border-radius: 8px;
}

/*Ana içerik stili*/

main {
    margin-top: 20px;
}

.assessment-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
}

.grid-item {
    background: white;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-size: 1em;
}

.group-e {
    grid-column: span 1;
    grid-row: span 2;
    background-color: #ffcccb;
    font-size: 2em;
}

.group-a, .group-b {
    grid-column: span 1;
    background-color: #f0e68c;
    font-size: 2em;
}

/* Footer stili */
.footer {
    text-align: center;
    font-size: 0.9em;
    color: #777;
    padding-top: 20px;
    background-color: #f4f4f4;
    border-top: 1px solid #ddd;
}

/* Geri düğmesi stili */
.back-button {
    background-color: #6c757d;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 1000;
}

.back-button:hover {
    background-color: #5a6268;
}