<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mMRC Dyspnea Ölçeği</title>
    <link rel="stylesheet" href="mmrc.css">
</head>
<body>
    <a href="https://mumsuz.github.io/pulmocalc/index.html" class="btn btn-secondary back-button">Geri</a>
    <header>
        <div class="container">
            <h1>mMRC Dyspnea Ölçeği</h1>
            <p>Nefes darlığı seviyenizi değerlendirin.</p>
        </div>
    </header>
    <main>
        <div class="container mt-5">
            <ul class="mmrc-list">
                <li>Derece 0: Nefes darlığı yalnızca çok yoğun efor sırasında.</li>
                <li>Derece 1: Hızlı yürürken veya hafif bir yokuş çıkarken nefes darlığı.</li>
                <li>Derece 2: Kendi hızında düz yolda yürürken, yaşıtlarına göre daha yavaş yürümek zorunda kalmak veya nefes darlığı nedeniyle duraklamak zorunda kalmak.</li>
                <li>Derece 3: Düz yolda 100 metre yürüdükten sonra veya birkaç dakika yürüdükten sonra duraklamak zorunda kalmak.</li>
                <li>Derece 4: Evde giysilerini değiştirirken dahi nefes darlığı veya evden çıkamayacak kadar nefes darlığı.</li>
            </ul>
        </div>
    </main>
    <footer class="footer">
        <p>&copy; 2024 Designed by MuMSuZ</p>
    </footer>
</body>
</html>
