<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mMRC Dyspnea Ölçeği</title>
    <link rel="stylesheet" href="static/mmrc.css">
    <style>
        .back-button {
            position: fixed;
            top: 10px;
            left: 10px;
            z-index: 1000; /* Üstte kalmasını sağlamak için z-index ayarlanmıştır */
        }
        </style>
</head>
<body>
    <a href="https://mumsuz.github.io/pulmocalc/koah/koah.html" class="btn btn-secondary back-button">Geri</a>
    <header>
        <div class="container">
            <h1>mMRC Dyspnea Ölçeği</h1>
            <p>Nefes darlığı seviyenizi değerlendirin.</p>
        </div>
    </header>
    <main>
        <div class="container">
            <p class="inden"
        </div>
    </main>
    <footer class="footer">
        <p>&copy; 2024 Designed by MuMSuZ</p>
    </footer>
</body>
</html>
