body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: white;
    color: #333;
}

header {
    background-color: white; /* Beyaz arka plan */
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2em;
}

header p {
    margin: 10px 0 0;
    font-size: 1.2em;
}

footer {
    text-align: center;
    font-size: 0.9em;
    color: #777;
    padding-top: 20px;
    background-color: #f4f4f4;
    border-top: 1px solid #ddd;
}

/*Container*/ 

.container {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
}

header .container {
    background-color: #6a0dad; /* Mor arka plan */
    color: white;
    padding: 20px;
    border-radius: 8px;
}

ul.mmrc-list {
    list-style-type: none; /* Noktaları kaldır */
    padding: 0;
}

ul.mmrc-list li {
    background-color: #f9f9f9; /* Hafif gri arka plan */
    margin: 10px 0;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    font-size: 1.2em;
}

.mmrc-list {
    background-color: #f9f9f9; /* Hafif gri arka plan */
    margin: 10px 0;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    font-size: 1.2em;
}

/* Butonların stilini ayarlar */

.back-button {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 1000; /* Üstte kalmasını sağlamak için z-index ayarlanmıştır */
}


/*Yazı tipi*/

.info-section {
    text-decoration: none;
}
.indented-text {
    margin-left: 20px; /* Sayfanın solundan 20px boşluk bırakır */
}

.spaced-text {
    margin-top: 40px; /* Üst kısımda 20px boşluk bırakır */
}